* {
	font-family: 'Open Sans', sans-serif;
	font-color: #000000;
	margin: 0;
	padding: 0;
}

h1 {
	color: #ffffff;
  font-size: 27px;
	font-weight: normal;
	padding: 25px 0px 25px 0px;
}

h2 {
	font-weight: bold;
	font-size: 22px;
  margin: 30px auto;
}

button {
  background-color: #048eaa;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  height: 43px;
  margin: 10px auto 35px;
  width: 300px;
}

/* horizontal navigation */

nav {
	background-color: #75e2e6;
	border-bottom: 3px solid #048eaa;
	height: 65px;
	width: 100%;
}

nav img {
	height: 45px;
	padding: 10px 15px 10px 15px;
}

.nav-text {
  float: right;
  margin: 20px 25px;
}

.nav-text a {
  color: inherit;
  font-weight: 600;
  list-style-type: none;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

/* header with hero image */

header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ), url("images/park.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 463px;
  text-align: center;
}

.top-dog {
  border-color: #048eaa;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  height: 170px;
  width: 170px;
}

/* 'name this dog' form*/

form {
  margin: auto;
  width: 30%;
}

label {
  color: #ffffff;
  float: left;
  padding-bottom: 4px;
}

#form-text {
  border-radius: 2px;
  border: none;
  padding: 13px;
  width: 100%;
}

#form-submit {
  background-color: #75e2e6;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0px;
  padding: 12px;
  width: 107%;
}

/* main section */

.section1 article {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.section1 p {
  font-size: 16px;
  height: 200px;
  margin: 20px auto 30px;
  text-align: left;
  width: 300px; 
}

.pup-img {
  border-color: #048eaa;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  height: 170px;
  width: 170px;
}

/* footer */

footer {
  background-color: #048eaa;
  color: #ffffff;
  height: 166px;
  text-align: center;
  width: 100%;
}

.learn-about {
  font-size: 20px;
  padding-top: 35px;
}

.footer-icon li {
  display: inline-block;
  padding:25px 10px;

}